name: Frontend Docker-Compose CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  docker-compose-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build frontend container
        run: docker-compose -f ./docker-compose.yml build frontend

      - name: Run frontend container to check build
        run: docker-compose -f ./docker-compose.yml run --rm frontend ls /usr/src/app/.next

      - name: Run frontend tests inside container
        run: docker-compose -f ./docker-compose.yml run --rm frontend npm test