name: Frontend CI

on:
  push:
    branches:
      - master
  pull_request:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build \
            --build-arg NEXT_PUBLIC_API_URL=http://localhost:3002 \
            -t frontend-ci .

      - name: Verify container runs
        run: |
          docker run --rm frontend-ci node -v